.navMenu .fa-solid:hover{
    background-color: #d0d0d0;
    cursor: pointer;
}
.person:hover{
    cursor: pointer;
}

.sent:hover .fa-angle-down{
    color: grey;
    cursor: pointer;
}
.received:hover .fa-angle-down{
    color: grey;
    cursor: pointer;
}

.windImpostazioni li:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.chattaContainer i:hover{
    cursor: pointer;
}