*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerStyle{
}

.parteAlta{
    position: relative;
    height: 6rem;
    background-color: #009688;
}

.parteBassa{
    height: calc(100vh - 6rem);
    background-color: #d5dbd7;
}

.contPrincipale{
    position: absolute;
    left: 50%;
    top: 2rem;
    transform: translate(-50%);
    margin: auto;
    height: calc(100vh - 2rem * 2);
    width: var(--larghezzaFInestra);
    display: flex;
    /* debug */
    background-color: white;
    
}

.containerNav{
    width: calc((var(--larghezzaFInestra) / 12) * 4);
    height: 100%;
    border: 1px solid black;
}

.containerChat{
    width: calc((var(--larghezzaFInestra) / 12) * 8);
    border: 1px solid black;
}
.person.pricipal{
    background-color: #eaeaea;
}
.person{
    height: 3.5rem;
    width: 100%;
    border-top: 1px solid #e9ebeb;
}
.notifiche{
    height: 4rem;
    width: 100%;
    background-color: #8edafc;
}

.contInput{
    background-color: #f9f9f9;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contInput input {
    width: 95%;
    height: 70%;
    border: 1px solid rgb(220, 220, 220);
}

.containerAmici{
    height: calc(100% - 9.5rem);
    width: 100%;
    background-color: white;
}