<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- luxon ore e date -->
    <script src=" https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js "></script>
    <!-- icon awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="img/logoEsfondo/whatsapp.svg">
    <!-- link variable -->
     <link rel="stylesheet" href="css/variable.css">
     <!-- link hover -->
      <link rel="stylesheet" href="css/hover.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">

    <title>Whatsapp Web</title>
</head>
<body>
    <main class="containerStyle">
        <div class="parteAlta">
            <div id="app" class="contPrincipale">
                <!-- parte di sinistra con le chat da cliccare -->
                <nav class="containerNav">
                    <!-- avatar del proprietario -->
                    <div class="person pricipal">
                        <div class="icon">
                            <div class="contFoto">
                                <img :src="datiPersonali.avatar" alt="">
                            </div>
                            <span>{{datiPersonali.name}}</span>
                        </div>
                        <div class="navMenu">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- attiva e disattiva notifiche -->
                    <div class="notifiche">
                        <div class="flexati" v-if="cambiaNotifiche">
                            <i @click="notificaStatus" class="fa-solid fa-microphone-slash"></i>
                            <div class="contText">
                                <h4>Ricevi notifiche di nuovi messaggi</h4>
                                <p @click="notificaStatus">Attiva notifiche desktop</p>
                            </div>
                        </div>
                        <div class="flexati" v-else>
                            <i  @click="notificaStatus" class="fa-solid fa-microphone"></i>
                            <div class="contText">
                                <h4>Ricevi notifiche di nuovi messaggi</h4>
                                <p @click="notificaStatus">Disattiva notifiche desktop</p>
                            </div>

                        </div>
                        
                    </div>
                    <!-- input di ricerca persone -->
                    <div class="contInput">
                        <input type="text" placeholder="Cerca o inizia una nuova chat" @keyup="ricercaPersone" v-model="inputForFilter">
                    </div>

                    <!-- persone in chat elenco -->
                    <div class="containerAmici">
                        <div class="person" :class="indiceFiltrato === index ? 'active' : ''" v-for="(amico, index) in filtraAmici" :key="index" @click.stop="selezionaPersona(index)">
                            <div class="icon">
                                <div class="contFoto align-self">
                                    <img :src="amico.avatar" alt="">
                                </div>
                                <div class="testo persona-orario">
                                    <span class="">{{amico.name}}</span>
                                    <p v-if="amico.messages.length > 0" class="testoPocoRisalto">{{amico.messages[amico.messages.length - 1].message}}</p>
                                    <p v-else class="testoPocoRisalto"></p>
                                </div>
                            </div>
                            <div class="navMenu persona-orario">
                                <span v-if="amico.messages.length > 0" class="testoPocoRisalto">{{ultimoMessaggio(amico)}}</span>
                                <span v-else class="testoPocoRisalto"></span>
                            </div>
                        </div>
                    </div>
                    
                </nav>
                <!-- parte di destra con la chat aperta -->
                <div class="containerChat">
                    <div class="person pricipal">
                        <div class="icon">
                            <div class="contFoto">
                                <img :src="contacts[numAmico].avatar" alt="">
                            </div>
                            <div class="testo">
                                <span>{{contacts[numAmico].name}}</span>
                                <p class="testoPocoRisalto">{{statoAmicoChat(numAmico)}}</p>

                            </div>
                        </div>
                        <div class="navMenu">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i @click="menuChat()" class="fa-solid fa-ellipsis-vertical"></i>
                            <ul class="windImpostazioni" :class="{'visible': isClicked()}">
                                <li @click="eliminateChat(index)">Delete chat</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sfondo">
                        <div class="contMessaggi"  v-if="contacts[numAmico].messages.length > 0">
                                <div class="messaggio" :class="messaggio.status"  v-for="(messaggio, index) in contacts[numAmico].messages">
                                    <div>
                                        {{messaggioInviato(messaggio)}}
                                    </div>
                                
                                    <ul class="windImpostazioni" :class="{'visible': isVisible(messaggio)}">
                                        <li>Message info</li>
                                        <li @click.stop="eliminateMessage(index)">Delete message</li>
                                    </ul>
                                    <span class="orarioInvio">{{orarioMessaggio(index)}}</span>
                                    <i class="fa-solid fa-angle-down" @click.stop="aperturaMenu(messaggio)"></i>
                                    <span class="windImpostazioni"></span>
                                </div>
                                
                        </div>
                    </div>
                    <div class="chattaContainer">
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio" v-model="messaggioNuovo.message" @keyup.enter="invioMessaggio">
                        <i v-if="!messaggioNuovo.message" class="fa-solid fa-microphone"></i>
                        <i v-else @click="invioMessaggio" class="fa-solid fa-paper-plane"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="parteBassa"></div>

        <!-- </div> -->
    </main>
    

    <script src="js/myjs.js"></script>
</body>
</html>